//Favorite
#favoritePage {
    display: grid; 
    grid-template-columns: 100vw;
    grid-template-rows: 40vh 50vh;
    grid-template-areas: 
    "favorite-gifs"
    "favorite-trending";
    .favorite-gifs {
        grid-area: favorite-gifs;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #572EE5;
            font-family: 'Montserrat-bold', sans-serif;
            font-size: 1.5rem;
            text-align: center;
        }
        .favorite-gifs_empty {
            // display: flex;
            // flex-flow: row wrap;
            // justify-content: center;
            // align-content: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .favorite-gifs_icon {
                margin-top: 7vh;
                width: 70px;
                height: 70px;
            }
            .favorite-gifs_text {
                margin-top: 2vh;
                width: 70vw;
                text-align: center;
            }
        }
        .favorite-gifs_result {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: flex-start;
            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .see-more_btn {
            margin-top: 3vh;
            height: 40px;
            width: 100px;
            background: none;
            border: 1px solid #572EE5;
            border-radius: 25px;
            font-family: 'Montserrat-bold', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
    .favorite-trending {
        grid-area: favorite-trending;
        height: 50vh;
        width: 100vw;
        background: #F3F5F8;
        .trending-text {
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                height: 5vh;
                color: #572EE5;
                font-family: 'Montserrat-bold', sans-serif;
                text-align: center;
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 30px;
            }
            p {
                height: 5vh;       
                font-family: 'Roboto-Regular', sans-serif;
                font-size: 1rem;
                color: #000000;
                text-align: center;
                line-height: 23px;
            }
        }
        #trending-gifos {
            height: 30vh;
            width: 100vw;
            display: flex;
            overflow: scroll;
            img {
                height: 187px;
                width: 243px;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }
}