#bottom {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    .bottom-title {
        font-family: 'Montserrat-bold', sans-serif;
        font-size: 1rem;
        color: #000000;
        letter-spacing: 0;
    }
    .bottom-networks {
        a {
            padding: 2vw;
        }
    }
    .bottom-rights {
        font-family: 'Montserrat-bold', sans-serif;
        font-size: 1rem;
        color: #000000;
        letter-spacing: 0;
        line-height: 20px;
    }
    .bottom-line {
        position: absolute;
        background-color: #572EE5;
        width: 100vw;
        height: .5vh;
        margin-top: 19.5vh;
    }
}
