@import 'header.scss', 'main.scss', 'footer.scss', 'responsive.scss';
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 115vh 20vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
