@import 'header.scss', 'main.scss', 'footer.scss', 'favorites.scss', 'create.scss', 'responsive.scss';
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 160vh 20vh;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
:root {
    --main: #572EE5;
}

//GIF CARD
//It'll be displayed on top when the user click a gif

//Background
.gifCard {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position: absolute;
    background: rgba(255, 255, 255, .9);
    //Gif container
    .gifCard-container {
        transform: translateY(10vh);
        height: 100vh;
        width: 100vw;
        background: rgb(255, 255, 255);
        position: relative;
        //Close icon
        .x-icon {
            position: absolute;
            background: none;
            border: none;
            margin: 5vh 0 0 83vw;
        }
        //Gif image 
        .card-image {
            height: 20vh;
            width: 80vw;
            object-fit: cover;
            margin: 10vh 10vw 0;
        }
        //Favorite icon
        .favorite-icon {
            position: absolute;
            transform: translateX(-30vw);
            margin-top: 32vh;
            background: none;
            border: none;
        }
        //Donwload icon
        .donwload-icon {
            position: absolute;
            transform: translateX(-20vw);
            margin-top: 31vh;
            background: none;
            border: none;
        }
        //Title
        .gif-title {
            width: 50vw;
            font-family: 'Montserrat-bold', sans-serif;
            font-size: 1rem;
            font-weight: 600;
            color: #000000;
            position: absolute;
            margin: 1vh 0 0 10vw;
        }
    }
}