@media (min-width: 425px) {
    body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 170vh 20vh;
    }
    #mainContent #search {
        grid-template-rows: 20vh 40vh 40vh 0vh 0vh 0vh;
    }
    #mainContent #search .mainContent-search img {
        width: 60vw;
    }
    body .gifCard .gifCard-container {
        height: 70vh;
        .card-image {
            height: 50vh;
        }
        .favorite-icon {
            margin-top: 62vh;
        }
        .donwload-icon {
            margin-top: 61vh;
        }
    }
}
@media (min-width: 600px) {
    #mainContent #search {
        grid-template-rows: 20vh 40vh 30vh 0vh 0vh 0vh;
        #result-gifs img {
            width: 250px;
            height: 250px;
        }
    }
}
@media (min-width: 768px) {
    // * {
    //     overflow: auto;
    // }
    header nav .hamburger{
        display: none;
    }
    #top .navBar .navBar-menu {
        list-style: none;
        background: none;
        height: 10vh;
        width: 100vw;
        top: 10vh;
        z-index: 2;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        .navBar-menu_item a {
            text-transform: uppercase;
            font-family: 'Montserrat-Bold', sans-serif;
            font-size: .8rem;
            font-weight: 600;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            padding-right: 30px;
            cursor: pointer;
        }
        .navBar-menu_item a:hover {
            text-decoration: underline #50E3C2;
        }
        .navBar-menu_item a:active {
            color: #9CAFC3;
        }
        .navBar-menu_create a img {
            margin-top: 2vh;
        }
        .navBar-menu_line {
            height: 0;
            width: 0;
        }
    }
    #top .navBar .navBar-menu_update {
        position: static;
    }
    //Gifcard - image
    body .gifCard .gifCard-container {
        height: 80vh;
        .card-image {
            height: 60vh;
        }
        .favorite-icon {
            margin-top: 72vh;
            transform: translateX(-25vw);
        }
        .donwload-icon {
            margin-top: 71vh;
        }
    }
    #favoritePage .favorite-gifs .favorite-gifs_result img {
        width: 220px;
        height: 220px;
    }
    //Create icon from the navbar
    #top .navBar .navBar-menu .navBar-menu_item .navBar-menu_item_create img {
        margin-top: 3vh;
    }
} 
@media (min-width: 1000px) {
    //Home page
    #mainContent #search {
        grid-template-rows: 20vh 40vh 20vh 0vh 0vh 0vh;
        .mainContent-title1 {
            h1 {
                font-size: 1.5rem;
            }
            .title1-gifos {
                font-size: 1.5rem;
            }
        }
        .mainContent-search {
            img {
                width: 40vw;
            }
        }
        #result-gifs img {
            height: 300px;
            width: 300px;
        }
    }
    #mainContent #trending {
        height: 60vh;
        #trending-gifos {
            height: 40vh;
            img {
                height: 280px;
                width: 365px;
            }
        }
    } 
    
    #mainContent #search .mainContent-terms .mainContent-terms_title {
        font-size: 1.3rem;
    }
    #mainContent #search .mainContent-terms #mainContent-terms_result a {
        font-size: 1.2rem;
    }
    #mainContent #trending .trending-text h2 {
        font-size: 1.5rem;
    }
    #mainContent #trending .trending-text p {
        font-size: 1.2rem;
    }
    #favoritePage .favorite-gifs .favorite-gifs_result img {
        width: 250px;
        height: 250px;
    }
    //Create page
    .body-create {
        grid-template-rows: 10vh 90vh 10vh;
    }
    .main-create {
        grid-template-columns: repeat(5, 20vw);
        grid-template-rows: 60vh 20vh;
        .camera-icon {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .create-container {
            grid-column: 2/5;
            grid-row: 1/2;
            height: 55vh;
            width: 60vw;
            .create-container_text {
                width: 40vw;
            }
        }
        .create-actions {
            grid-column: 2/5;
            grid-row: 2/3;
        }
        .movie-icon {
            grid-column: 5/6;
            grid-row: 2/3;
            align-items: flex-end;
        }
    }
    body .gifCard .gifCard-container {
        .x-icon {
            img {
                height: 25px;
                width: 25px;
            }
        }
        .favorite-icon {
            margin-top: 72vh;
            transform: translateX(-25vw);
            img {
                height: 25px;
                width: 25px;
            }
        }
        .donwload-icon {
            margin-top: 71vh;
            img {
                height: 40px;
                width: 40px;
            }
        }
        .gif-title {
            font-size: 1.5rem;
        }
    }
}
@media (min-width: 1440px) {
    #mainContent #search {
        grid-template-rows: 20vh 40vh 30vh 0vh 0vh 0vh;
    }
    #mainContent #search .mainContent-title1 h1 {
        font-size: 2rem;
    }
    #top .navBar .navBar-menu .navBar-menu_item a {
        font-size: 1rem;
    }
    //Gif card
    body .gifCard .gifCard-container {
        height: 90vh;
        .card-image {
            height: 70vh;
            width: 80vw;
        }
        .favorite-icon {
            margin-top: 82vh;
            transform: translateX(-23vw);
        }
        .donwload-icon {
            margin-top: 81vh;
        }
    }
    #favoritePage .favorite-gifs .favorite-gifs_result img {
        width: 350px;
        height: 350px;
    }
}
@media (min-width: 2560px) {
    #mainContent #search .mainContent-title1 {
        h1 {
            font-size: 3rem;
        }
        .title1-gifos {
            font-size: 3rem;
        }
    }
    #mainContent #search .mainContent-search .search-container #search-box {
        height: 80px;
    }
    #top .navBar .navBar-menu .navBar-menu_item a {
        font-size: 1.5rem;
    }
    #top .navBar .logo {
        width: 100px;
    }
    #mainContent #search .mainContent-terms .mainContent-terms_title {
        font-size: 2.5rem;
        line-height: 80px;
    }
    #mainContent #search .mainContent-terms #mainContent-terms_result a {
        font-size: 2rem;
    }
    body .gifCard .gifCard-container {
        .x-icon {
            img {
                height: 50px;
                width: 50px;
            }
        }
        .favorite-icon {
            margin-top: 81vh;
            transform: translateX(-23vw);
            img {
                height: 50px;
                width: 50px;
            }
        }
        .donwload-icon {
            margin-top: 81vh;
            img {
                height: 70px;
                width: 70px;
            }
        }
        .gif-title {
            font-size: 2.5rem;
        }
    }
    #mainContent #trending {
        height: 60vh;
        #trending-gifos {
            height: 40vh;
            img {
                height: 420px;
                width: 548px;
            }
        }
    } 
}