@media (min-width: 426px) {
    body {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 10vh 170vh 20vh;
    }
    #mainContent #search {
        grid-template-rows: 20vh 40vh 30vh 0vh 0vh 0vh;
    }
    #mainContent #search .mainContent-search img {
        width: 60vw;
    }
}
@media (min-width: 648px) {
    #mainContent #search {
        grid-template-rows: 20vh 40vh 25vh 0vh 0vh 0vh;
    }
}
@media (min-width: 769px) {
    // * {
    //     overflow: auto;
    // }
    header nav .hamburger{
        display: none;
    }
    #top .navBar .navBar-menu {
        list-style: none;
        background: none;
        height: 10vh;
        width: 100vw;
        top: 10vh;
        z-index: 2;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        .navBar-menu_item a {
            text-transform: uppercase;
            font-family: 'Montserrat-Bold', sans-serif;
            font-size: 13px;
            font-weight: 600;
            color: #572EE5;
            letter-spacing: 0;
            text-align: center;
            padding-right: 30px;
        }
        .navBar-menu_line {
            height: 0;
            width: 0;
        }
    }
    #top .navBar .navBar-menu_update {
        position: static;
    }
} 
@media (min-width: 1020px) {
    #mainContent #search {
        grid-template-rows: 20vh 40vh 20vh 0vh 0vh 0vh;
        .mainContent-title1 {
            h1 {
                font-size: 1.5rem;
            }
            .title1-gifos {
                font-size: 1.5rem;
            }
        }
        .mainContent-search {
            img {
                width: 40vw;
            }
        }
    }
    #mainContent #trending #trending-gifos img {
        height: 280px;
        width: 365px;
    }
    #mainContent #search .mainContent-terms .mainContent-terms_title {
        font-size: 1.3rem;
    }
    #mainContent #search .mainContent-terms #mainContent-terms_result a {
        font-size: 1.2rem;
    }
    #mainContent #trending .trending-text h2 {
        font-size: 1.5rem;
    }
    #mainContent #trending .trending-text p {
        font-size: 1.2rem;
    }
}
@media (min-width: 1440px) {
    #mainContent #search {
        grid-template-rows: 20vh 40vh 30vh 0vh 0vh 0vh;
    }
    #mainContent #search .mainContent-title1 h1 {
        font-size: 2rem;
    }
    #top .navBar .navBar-menu .navBar-menu_item a {
        font-size: 1rem;
    }
}
@media (min-width: 2560px) {
    #mainContent #search .mainContent-title1 {
        h1 {
            font-size: 3rem;
        }
        .title1-gifos {
            font-size: 3rem;
        }
    }
    #mainContent #search .mainContent-search .search-container #search-box {
        height: 80px;
    }
    #top .navBar .navBar-menu .navBar-menu_item a {
        font-size: 1.5rem;
    }
    #top .navBar .logo {
        width: 100px;
    }
    #mainContent #search .mainContent-terms .mainContent-terms_title {
        font-size: 2.5rem;
        line-height: 80px;
    }
    #mainContent #search .mainContent-terms #mainContent-terms_result a {
        font-size: 2rem;
    }
}